Source: cloudlinux-nsqd
Maintainer: Nikolay Telepenin <tirmatov@cloudlinux.com>
Section: admin
Priority: extra
Standards-Version: 4.4.1
Homepage: https://github.com/cloudlinux/nsq
Build-Depends:
  autoconf,
  automake,
  libtool,
  bash,
  curl,
  dh-systemd | debhelper (>= 9.20160709),
  make,
  unzip

Package: cloudlinux-nsqd
Architecture: any
Description: NSQ message queue with unix socket listener support
  This service receives and routes messages across services.
